<style>
    header {
        overflow: hidden;
    }

    nav {
        float: left;
        font-family: monospace;
    }

    b{
        font-family: monospace;
        font-size: 45px;
        
    }

    i{
        color: red;
        font-family: 'Lucida Handwriting', cursive;
        font-size: 45px;
    }

    a {
        font-size: 25;
    }

    .loginlink {
        float: right;
    }
</style>

<header>
    <nav>
        <a href="/"><b>SearchEngine</b><i>.ai</i></a><br>For all your AI-ML needs.
        
    </nav>
</header>
